*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

header{
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('bg4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Crimson Text', serif;
}

h1{
	width: 100%;
	color: #9a7505;
	font-size: 300%;
	word-spacing: 5px;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.main-content-header{
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-99%, -50%);
}

span{
	font-size: 120%;
	color: #999999;
}

p{
	color: #805d29;
	font-family: 'Crimson Text', serif;
	font-weight: bold;
	font-size: 90%;
	word-spacing: 3px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}